<!-- Breadcrumb -->
<div>
    <mdb-breadcrumb>
        <mdb-breadcrumb>
            <mdb-breadcrumb-item>
                <a class="own-breadcrumb" routerLink='../../home'>Home</a>
            </mdb-breadcrumb-item>
            <mdb-breadcrumb-item class="active">
                <a class="own-breadcrumb" routerLink='../../home/document'>Document</a>
            </mdb-breadcrumb-item>
        </mdb-breadcrumb>
    </mdb-breadcrumb>
</div>


<h1>Document Management</h1>

<div>
    <button class="btn btn-main">Create new Document</button>
</div>


<!-- tabs -->
<div class="docu-tab-container">
    <div class="tab">
        <button class="tablinks tab-current" (click)="openTab('tab-current')">Current Docu</button>
        <button class="tablinks tab-saved" (click)="openTab('tab-saved')">Saved Docu</button>
    </div>

    <div id="tab-current" class="tabcontent">
        <h3>Current Cases</h3>
        <p>London is the capital city of England.</p>
    </div>

    <div id="tab-saved" class="tabcontent" style="display: none;">
        <h3>Saved Cases</h3>
        <p>Paris is the capital of France.</p>
    </div>
</div>







<!-- tabs -->









<div id="right-search-result" *ngIf="document">
    <div class="right-item">





        <accordion>
            <accordion-group heading="{{doc.title}}    &nbsp;{{doc.date}}" *ngFor="let doc of my_documents">
                <div style="color: black; font-weight: normal">
                    Annotations:
                    <ul class="list-group list-group-horizontal-md flex-fill" style="display: inline;">
                        <li class="badge badge-pill badge-info" style="margin: 5px 5px 5px 5px;" *ngFor="let coll of doc.annotations">{{coll}}</li>
                    </ul>
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td><strong>ID: </strong>{{doc.id}}</td>
                            <td><strong>Referenz: </strong>German Export Law</td>
                        </tr>
                        <tr>
                            <td><strong>Anfangsdatum: </strong>01.02.2018</td>
                            <td><strong>Enddatum: </strong>20.05.2018</td>
                        </tr>
                        <tr>
                            <td><strong>Rechtsanwalt: </strong>x</td>
                            <td><strong>Kunden: </strong>x</td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <p>{{doc.file}}</p>
                    </div>
                </div>
            </accordion-group>
        </accordion>






    </div>
</div>