<!-- Breadcrumb -->
<div class="breadcrumb-custom">
    <mdb-breadcrumb>
        <mdb-breadcrumb>
            <mdb-breadcrumb-item>
                <a class="own-breadcrumb" routerLink='../../home'>Home</a>
            </mdb-breadcrumb-item>
            <mdb-breadcrumb-item class="active">
                <a class="own-breadcrumb own-breadcrumb-active" routerLink='../../home/memo'>Memo</a>
            </mdb-breadcrumb-item>
        </mdb-breadcrumb>
    </mdb-breadcrumb>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div>
                <p>Creator: Unknown</p>
                Annotations:
                <ul class="list-group list-group-horizontal-md flex-fill" style="display: inline;">
                    <li class="badge badge-pill badge-info" style="margin: 5px 5px 5px 5px;" *ngFor="let coll of document.annotations">{{coll}}</li>
                </ul>
            </div>

            <button (click)="toggleDisabled()" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;">
                {{ isDisabled ? 'Edit the document' : 'Save the document' }}
            </button>

            <ckeditor [editor]="Editor" data={{fileString}} (ready)="onReady($event)" [disabled]="isDisabled"></ckeditor>

        </div>
    </div>
</div>