<!-- nav
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">

            </div>
        </div>
    </div>
</div>
-->

<div class="container-fluid">
    <div class="row">

        <!-- Left Menu -->
        <div class="col-12 col-sm-2">
            <div class="left-container">
                <div class="left-logo">
                    <img src="/src/assets/img/robot.png" style="width: 60px; height: 60px;"/>
                </div>
                <div class="left-title">
                    <div>{{title}}</div>
                </div>
                <div class="left-menu">
                    <div class="left-menu-item">
                        <a href="search.component.html">Internal Google</a>
                    </div>
                    <div class="left-menu-item">
                        <a href="-email.html">Automatic Email Reply</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right -->
        <div class="col-12 col-sm-10">
            <div class="right-container">
                <!-- Breadcrumb -->
                <div>
                    Breadcrumb goes here... @TODO
                </div>

                <!-- main app container -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>