
<div class="container" style="padding: 1em 0em">
    <div class="row">
        <!-- LEFT -->
        <div class="col-12 col-sm-3">
            <div class="left-container">
                <div class="left-logo">
                    <img src="../../assets/img/robot.png" style="width: 60px; height: auto"/>
                </div>
                <div class="left-title">
                    <div>Deep Tool</div>
                </div>
                <div class="left-menu">
                    <div class="left-menu-item">
                        <a href="../search/search.component.html">Internal Google</a>
                    </div>
                    <div class="left-menu-item">
                        <a href="email.component.html">Automatic Email Reply</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- RIGHT -->
        <div class="col-12 col-sm-9">
            <div class="right-container">

                <div class="right-item right-button">
                    <button type="button" class="btn btn-main">Import E-Mail from client</button>
                </div>

                <!-- @TODO: Import email into text box -->
                <div class="right-item right-text">
                    <textarea style="width: 100%; text-align: left;">Where the emails are
                    </textarea>
                </div>

                <div class="right-item right-button">
                    <button type="button" class="btn btn-main">Reply E-Mail generation</button>
                </div>


                <!-- Create the editor container -->
                <div class="right-item right-editor">
                    <div id="editor">
                        <p>Dear XXX</p>
                        <p>Content I want to have in my reply.</p>
                        <p><br></p>
                        <p>Best wishes</p>
                        <p>John Lawyer</p>
                    </div>
                </div>

                <div class="right-item right-btn-group">
                    <button class="btn btn-opt-first">To progress will take about XX days, please wait for our feedback</button>
                    <button class="btn btn-opt-second"> For the possibility of precessing your case, we need you to sign the power of attorney.</button>
                    <button class="btn btn-opt-third"> I would like to make an appointment with you, XX.XX at 09:00 ?</button>
                    <button class="btn btn-opt-fourth">Suggestion 1</button>
                    <button class="btn btn-opt-fourth">Suggestion 2</button>
                    <button class="btn btn-opt-fourth">Suggestion 3</button>
                    <button class="btn btn-opt-fourth">Suggestion 4</button>
                </div>


            </div>
        </div>
    </div>


</div>
