<!-- Breadcrumb -->
<div class="breadcrumb-custom">
    <mdb-breadcrumb>
        <mdb-breadcrumb>
            <mdb-breadcrumb-item>
                <a class="own-breadcrumb" routerLink='../../home'>Home</a>
            </mdb-breadcrumb-item>
            <mdb-breadcrumb-item class="active">
                <a class="own-breadcrumb" routerLink='../../home/document'>User</a>
            </mdb-breadcrumb-item>
        </mdb-breadcrumb>
    </mdb-breadcrumb>
</div>

<!-- 1 Basic personal info -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-2">
            <img src="{{pic_profil}}" style="width: 100%; height: auto;"/>
        </div>
        <div class="col-12 col-sm-10">
            <h1>Personal Informationen</h1>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <strong>Vorname:</strong> <span>{{currentUser.firstName}}</span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 2 New a case / docu
<div class="">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-main">Neuen Fall erstellen</button>
        </div>
        <div class="col-12">
            <button class="btn btn-main">Neue Dokument erstellen</button>
        </div>
    </div>
</div>
-->

<!-- tabs -->
<div class="docu-tab-container">
    <div class="tab">
        <button class="tablinks" [class.bgGray]="!bgGrayBool" (click)="openTab('tab-docu')">Aktuelle Ablagen</button>
        <button class="tablinks" [class.bgGray]="bgGrayBool" (click)="openTab('tab-case')">Aktuelle Fälle</button>
    </div>
    <div id="tab-docu" class="tabcontent">
        <h3>Current Documents</h3>
        <div class="tab-content-container">


            <!--
                        <accordion>
                            <accordion-group heading="{{heading1}}" >
                                <div style="color: black; font-weight: normal">

                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <td><strong>ID: </strong>{{doc.id}}</td>
                                            <td><strong>Referenz: </strong>German Export Law</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Anfangsdatum: </strong>01.02.2018</td>
                                            <td><strong>Enddatum: </strong>20.05.2018</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Rechtsanwalt: </strong>x</td>
                                            <td><strong>Kunden: </strong>x</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <p>{{doc.memo}}</p>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
            -->

        </div>

    </div>

    <div id="tab-case" class="tabcontent" style="display: none;">
        <h3>Current Cases</h3>

    </div>
</div>







<!-- tabs -->









<div id="right-search-result" *ngIf="document">
    <div class="right-item">












    </div>
</div>