@import '../node_modules/bootstrap/dist/css/bootstrap.css';

.card {
    margin-top: 10px;
    background-color: #145B73;
    color: white;
    font-weight: bold;
}

.card .btn-link {
    color: white;
    font-weight: bold;
}

.card-body {
    color: black;
    background-color: white;
    font-weight: normal;
}

/* breadcrumb */
.breadcrumb {
    margin: 0 !important;
    padding: 0.5em !important;
    background: none !important;
}

.breadcrumb-custom {
    margin: 5px 0 10px 0;
}

.own-breadcrumb {
    text-decoration: none;
    color: #323232;
}
.own-breadcrumb-active {
    color: #09ACC2;
}
.own-breadcrumb:hover {
    text-decoration: none;
    color: #09ACC2;
}

/* top nav bar */
.navbar-custom {
    background-color: #DBDBDB;
}

.nav-item a.nav-link {
    color: #323333;
    font-size: 1.3em;
}


/* neu docu button */
.btn-new-docu {
    position: fixed;
    z-index: 1000;
    right: -5px;
    top: 50%;
    background: #145B73;
    border: none;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 12px 12px 2px 1px rgba(9,172,194,.2);
}

.btn-new-docu img {
    width: 30px;
    height: auto;
}

.displayEditor {
    display: none;
}


/* main content */
.badge-pill {
    font-size: 11pt;
    padding-left: 20px;
    padding-right: 20px;
}


/* logo */
.logo-container img {
    width: 40px;
    height: auto;
}