<nav class="navbar navbar-expand-md navbar-custom" *ngIf="currentUser">
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <div class="logo-container">
            <div style="float: left;">
                <img src="{{pic_logo}}">
            </div>
            <span style="margin: 10px; font-weight: 500; color: #145B73; font-size: 2em; line-height: 34px;">scio</span>
        </div>
        <ul class="navbar-nav ml-auto">
            <!--
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="./document">document</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="./memo">memo</a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="./search">SUCHEN</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="./user">user</a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="./case">DATENBANK</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-item nav-link" (click)="logout()">Logout</a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="./user">
                    <img src="{{pic_profil}}" style="width: 40px;">
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <button type="button" class="btn btn-outline-secondary btn-new-docu" (click)="toggle()" ngbPopover="This popover gets its inputs from the customized configuration" popoverTitle="Customized popover">
        <img src="{{pic_write}}"/>
    </button>

    <div class="row" style="padding-top: 1em;">

        <!-- Main content container -->
        <div class="col-12 col-sm-6" [class.col-sm-12]="displayEditor">
            <div class="main-container">
                <!-- main app container-->
                <router-outlet></router-outlet>
            </div>
        </div>

        <!-- Editor -->
        <div id="editor" class="col-12 col-sm-6" [class.displayEditor]="displayEditor">
            <div class="editor-content">
                <div>
                    <p>Creator: {{currentUser.firstName}} {{currentUser.lastName}}</p>
                    <!--
                    Annotations:
                    <ul class="list-group list-group-horizontal-md flex-fill" style="display: inline;">
                        <li class="badge badge-pill badge-info" style="margin: 5px 5px 5px 5px;" *ngFor="let coll of document.annotations">{{coll}}</li>
                    </ul>
                    -->
                </div>

                <button (click)="toggleDisabled()" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;">
                    {{ isDisabled ? 'Edit the document' : 'Save the document' }}
                </button>

                <ckeditor [editor]="Editor" data={{fileString}} (ready)="onReady($event)" [disabled]="isDisabled"></ckeditor>
            </div>


        </div>
    </div>
</div>