.btn-new-docu {
    position: fixed;
    z-index: 1000;
    right: 0px;
    background: #145B73;
    border: none;
    border-radius: 5px;
    padding: 5px;
}


.btn-new-docu img {
    width: 30px;
    height: auto;
}


.displayEditor {
    display: none;
}